<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Daily Tasks</span>
    <span class="example-fill-remaining-space"></span>
    <button *ngIf="!isLoggedIn" type="button" mat-raised-button color="accent"  (click)="login()">
     Signin With Google
    </button>
    <button *ngIf="isLoggedIn" type="button" mat-raised-button color="accent"  (click)="logout()">
      Signout
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div>&nbsp;</div>

<div *ngIf="dailytasks">
 <dx-scheduler
    [dataSource]="dailytasks"
    [views]='["day","week", "month"]'
    currentView="week"
    [currentDate]="currentDate"
    [startDayHour]="6"
    [height]="600"
    (onAppointmentAdded)="onAppointmentAdded($event)"
    (onAppointmentUpdated)="onAppointmentUpdated($event)"
    (onAppointmentDeleted)="onAppointmentDeleted($event)"
    appointmentTemplate="appointment-template"
    (onAppointmentFormCreated)="onAppointmentFormCreated($event)">
    <div *dxTemplate="let appt of 'appointment-template'">
      <div>
          <div>{{appt.person_responsible}} : {{appt.text}}</div>
      </div>
    </div>
    <!-- <div *dxTemplate="let data of 'myTemplate'">
      <dx-tree-view
                        [dataSource]="groupmembers"
                        dataStructure="plain"
                        keyExpr="member"
                        parentIdExpr="categoryId"
                        selectionMode="multiple"
                        showCheckBoxesMode="normal"
                        [selectNodesRecursive]="false"
                        displayExpr="name"
                        [selectByClick]="true"
                        (onContentReady)="syncTreeViewSelection($event)"
                        (onItemSelectionChanged)="treeView_itemSelectionChanged($event)"
                    >
                    </dx-tree-view>
  </div> -->
 </dx-scheduler>
</div>


